

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    transition: 0.4s; 
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2);
}

.user-info-container {
    border-color: grey;
    padding: 2px 16px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.post-image-container {
    padding: 50% 50%;
  
}

.caption-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}